body {
    font-family: Helvetica, sans-serif;
    padding: 40px;
    margin-bottom:50px;
}

.container {
    margin-top: 30px;
    width: 100%;
    float: left;
}

.modal {
    padding: 40px;
}

.status {
    margin-bottom: 20px;
}

.login {
    width: 300px;
    margin: auto;
}

.right-align {
    text-align: right;
}

/* .bookmark { */
    /* text-overflow: ellipsis; */
	/* white-space: nowrap; */
    /* overflow: hidden; */
/* } */